# Dependencies
node_modules
main-template/**/node_modules
main-template/**/__pycache__
main-template/**/*.pyc

# Build outputs
dist
*.log

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Local env
.env
.env.local

# Tests
*.test.js
__tests__

# Documentation
*.md

